.product-slider>.slick-prev:before,
.product-slider>.slick-next:before {
    font-size: 3rem;
    color: #c6c7ca;
    transition: all .3s linear;
}

.product-slider>.slick-prev,
.product-slider>.slick-next {
    width: 3rem;
    height: 3rem;
}

.product-slider>.slick-prev {
    left: -3rem;
}

.product-slider>.slick-next {
    right: -3rem;
}