.product-slider>.slick-prev:before,
.product-slider>.slick-next:before {
    color: #c6c7ca;
    font-size: 3rem;
    transition: all .3s linear;
}

.product-slider>.slick-prev,
.product-slider>.slick-next {
    width: 3rem;
    height: 3rem;
}

.product-slider>.slick-prev {
    left: -3rem;
}

.product-slider>.slick-next {
    right: -3rem;
}

.product-slider>.slick-dots li button:before {
    color: #6F7281;
    font-size: 1rem;
}

.vertical-thumbs>.slick-list>.slick-track {
    height: 45rem !important;
}