@media (min-width: 320px) {
  .popular-category__list {
    display: grid;
    grid-template-columns: 1fr;
    //grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
  }


  .popular-category {
    min-height: 15rem;
    padding: 1.5rem 2rem;
    color: white;
    background-color: #A291A5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


    &__title {
      font-size: 2.4rem;
      line-height: 1.5;
      margin: 0;
      font-weight: bold;
    }

    &__subtitle {
      font-size: 1.2rem;
      max-width: 80%;
      margin: 1rem 0;
    }
  }
}


@media (min-width: 768px) {
  .popular-category__list {
    grid-template-columns: 1fr 1fr;
    //gap: 20px 20px;
  }

  .popular-category {
    min-height: 20rem;
    &__title {
      font-size: 3rem;
    }

    &__subtitle {
      font-size: 1.6rem;
      max-width: 70%;

    }
  }
}

@media (min-width: 1366px) {
  .popular-category {
    min-height: 25rem;
    &__subtitle {

      max-width: 60%;

    }
  }
}

