:root {
  font-size: 10px !important;
}

body {
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
}
a:hover {
  color: initial !important;
}






