

:root {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
//.swiper-wrapper {
//  padding-left: 0;
//}
//.swiper-slide {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  overflow: hidden;
//  background-color: #A291A5;
//}





