.main-slider>.slick-prev:before,
.main-slider>.slick-next:before {
    font-size: 3rem;
    color: #c6c7ca;
    transition: all .3s linear;
}

.main-slider>.slick-prev,
.main-slider>.slick-next {
    width: 3rem;
    height: 3rem;
}

.main-slider>.slick-prev {
    left: 3rem;
    z-index: 999;
}

.main-slider>.slick-next {
    right: 3rem;
}