#item {
    width: 48.5rem;
    height: 48.5rem;
}

#thumbs {
    width: 8rem;
    height: 48.5rem;
}

.swiper-slide {
    cursor: pointer;
}

.swiper-wrapper {
    padding-inline-start: 0;
    list-style: none;
    padding: 0;
}