#item {
    width: 100%;
}

#thumbs {
    width: 8rem;
    height: 48.5rem;
}

#thumbs .swiper-wrapper {
    position: relative;
    bottom: 18.375rem;
}

#thumbs .swiper-slide {
    cursor: pointer;
}

.swiper-wrapper {
    padding-inline-start: 0;
    list-style: none;
    padding: 0;
}