

.swiper-wrapper {
  padding: 0;
  list-style: none;
}
.swiper-slide {
  width: 100%;
}
.swiper-container {
  width: 100%;
<<<<<<< HEAD
padding-bottom: 50%;
=======
padding-bottom: 40%;
>>>>>>> dev
}